
.carousel-item {
  height: 85vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header-navigation-wrapper {
    font-family: 'Bowlby One SC', cursive;
}

.primary-menu a, .primary-menu span{
    color: #6fa941 !important;
    font-size: 21px !important;
}

.sub-menu a {
    color: #fff !important;
}

.display-4 {
    font-size: 9.5rem;
    font-weight: 300;
    line-height: 1.2;
    font-family: 'Bowlby One SC', cursive;
    margin-bottom: 308px;
}